@font-face {
    font-family: 'recoleta-light';
    src   url('https://raw.githubusercontent.com/thatvistuagain/blogsinhojas/blob/main/Recoleta-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
